<head>
  <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <style>
    body {
      grid-template-columns: 1fr min(60rem, 90%) 1fr;
    }
  </style>
</head>
<main>
  <body>
    <h1><%= project.name %> - Cycle Times</h1>
    <p><%= hierarchyLevel %> cycle times <%= format.interval(interval) %></p>
    <div style="width: 100%"><canvas id="scatterplot"></canvas></div>
    <div style="width: 100%"><canvas id="histogram"></canvas></div>
    <table>
      <thead>
        <th>Percentile</th>
        <th>Days</th>
      </thead>
      <tbody>
        <% for (const { percentile, days } of percentiles) { %>
        <tr>
          <td><%= format.number(percentile, 0) %>%</td>
          <td><%= format.number(days) %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <table width="100%">
      <thead>
        <th style="min-width: 120px">Issue</th>
        <th>Summary</th>
        <th style="min-width: 120px">Started</th>
        <th style="min-width: 120px">Completed</th>
        <th>Cycle Time</th>
      </thead>
      <tbody>
        <% if (outliers.length) { %>
        <tr>
          <th colspan="5">Outliers</th>
        </tr>
        <% for (const issue of outliers) { %>
        <tr>
          <td>
            <%= issue.key %>
            <a href="<%= linkTo(issue) %>" target="_blank"
              ><i class="fa fa-up-right-from-square"></i
            ></a>
          </td>
          <td><%= issue.summary %></td>
          <td><%= format.date(issue.started) %></td>
          <td><%= format.date(issue.completed) %></td>
          <td><%= issue.cycleTime %></td>
        </tr>
        <% } %>
        <tr>
          <th colspan="5">Inliers</th>
        </tr>
        <% } %> <% for (const issue of selectedIssues) { %>
        <tr>
          <td>
            <%= issue.key %>
            <a href="<%= linkTo(issue) %>" target="_blank"
              ><i class="fa fa-up-right-from-square"></i
            ></a>
          </td>
          <td><%= issue.summary %></td>
          <td><%= format.date(issue.started) %></td>
          <td><%= format.date(issue.completed) %></td>
          <td><%= format.number(issue.cycleTime) %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script>
      const scatterplot = <%- JSON.stringify(scatterplot, null, ' ') %>;
      const histogram = <%- JSON.stringify(histogram, null, ' ') %>;

      const selectedIssues = <%- JSON.stringify(selectedIssues, null, ' ') %>;

      const renderScatterplot = () => {
        const label = function (ctx) {
          const issue = selectedIssues[ctx.dataIndex];
          return [`${issue.key}: ${issue.cycleTime.toFixed(1)} days`, issue.summary];
        };

        const config = {
          type: 'scatter',
          data: scatterplot.data,
          options: {
            plugins: {
              tooltip: {
                callbacks: {
                  label,
                },
              },
            },
            scales: scatterplot.scales,
          }
        };

        new Chart(document.getElementById('scatterplot'), config);
      };

      const renderHistogram = () => {
        const histogram = <%- JSON.stringify(histogram, null, ' ') %>;

        const config = {
          type: 'bar',
          data: histogram.data,
        };

        new Chart(document.getElementById('histogram'), config);
      };

      renderScatterplot();
      renderHistogram();
    </script>
  </body>
</main>
