<head>
  <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <style>
    body {
      grid-template-columns: 1fr min(60rem, 90%) 1fr;
    }
  </style>
</head>
<main>
  <body>
    <h1><%= project.name %> - Cycle Times</h1>
    <p><%= description %></p>
    <div style="width: 100%"><canvas id="chart"></canvas></div>
    <table>
      <thead>
        <th>Key</th>
        <th>Summary</th>
        <th>Started</th>
        <th>Completed</th>
        <th>Cycle Time</th>
      </thead>
      <tbody>
        <% if (outliers.length) { %>
        <tr>
          <th colspan="5">Outliers</th>
        </tr>
        <% for (const issue of outliers) { %>
        <tr>
          <td><%= issue.key %></td>
          <td><%= issue.summary %></td>
          <td><%= issue.started %></td>
          <td><%= issue.completed %></td>
          <td><%= issue.cycleTime %></td>
        </tr>
        <% } %>
        <tr>
          <th colspan="5">Inliers</th>
        </tr>
        <% } %> <% for (const issue of selectedIssues) { %>
        <tr>
          <td><%= issue.key %></td>
          <td><%= issue.summary %></td>
          <td><%= issue.started %></td>
          <td><%= issue.completed %></td>
          <td><%= issue.cycleTime %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script>
      const data = <%- JSON.stringify(data, null, ' ') %>;

      const selectedIssues = <%- JSON.stringify(selectedIssues, null, ' ') %>;

      const scales = <%- JSON.stringify(scales, null, ' ') %>;

      const label = function (ctx) {
        const issue = selectedIssues[ctx.dataIndex];
        return [`${issue.key}: ${issue.cycleTime.toFixed(1)} days`, issue.summary];
      };

      const config = {
        type: 'scatter',
        data,
        options: {
          plugins: {
            tooltip: {
              callbacks: {
                label,
              },
            },
          },
          scales,
        }
      };

      new Chart(document.getElementById('chart'), config);
    </script>
  </body>
</main>
